.orellax {
 transition: all 1s ease-in-out;
}

.orellax[data-type="fadeIn"] {
  opacity: 0;
  &.is-orellaxActive {
    opacity: 1;
  }
}

.orellax[data-type="slideUpIn"] {
  opacity: 0;
  transform: translateY(2.5rem);
  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="slideDownIn"] {
  opacity: 0;
  transform: translateY(-2.5rem);
  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="slideLeftIn"] {
  opacity: 0;
  transform: translateX(2.5rem);
  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="slideRightIn"] {
  opacity: 0;
  transform: translateX(-2.5rem);
  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="zoomIn"] {
  opacity: 0;
  transform: scale(0);
  &.is-orellaxActive {
    opacity: 1;
    transform: scale(1);
  }
}
