.orellax {
 transition: all 1s ease-in-out;
}

.orellax[data-type="fadeIn"] {
  &.is-orellaxReady {
    opacity: 0;
  }
  &.is-orellaxActive {
    opacity: 1;
  }
}

.orellax[data-type="slideUpIn"] {
  &.is-orellaxReady {
    opacity: 0;
    transform: translateY(2.5rem);
  }
  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="slideDownIn"] {
  &.is-orellaxReady {
    opacity: 0;
    transform: translateY(-2.5rem);
  }

  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="slideLeftIn"] {
  &.is-orellaxReady {
    opacity: 0;
    transform: translateX(2.5rem);
  }

  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="slideRightIn"] {
  &.is-orellaxReady {
    opacity: 0;
    transform: translateX(-2.5rem);
  }

  &.is-orellaxActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.orellax[data-type="zoomIn"] {
  &.is-orellaxReady {
    opacity: 0;
    transform: scale(0);
  }
  &.is-orellaxActive {
    opacity: 1;
    transform: scale(1);
  }
}
